<div id="success">
  <h2>Your log has been posted!</h2>

  <img id="dancing_man" src="http://assets0.ordienetworks.com/images/GifGuide/dancing/280sw007883.gif" alt='Dancing gif' >

  <p style="margin-bottom:150px;">
  <p><a href='/'>Add more $hit</a></p>
</div>
